ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  color: black;
}


li a {
  display: block;
  width: 60px;
  top:20px;
  margin-right: auto;
  padding-right: auto;
  width: 100px;
  text-decoration: black;
  color: red;
}


input{
  margin-left: 4rem;
  top: 20px;
  float: right;
  width: 20%;
  padding: 10px;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  cursor: pointer;
}

header{
  text-align: center;
  font-family: monospace, sans-serif, 'Franklin Gothic Medium';
  color: red;
}

