html{
  background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    color: black;
    float: left;
    position: absolute;
    padding: 0px 16px;
    width: 100%;
    font-size: 20px;
   
  }
  
  li a {
    display: block;
    width: 60px;
    top:20px;
    margin-right: auto;
    padding-right: auto;
    width: 100px;
    text-decoration: black;
   color: red;
   position: sticky;
  }
  input{
    margin-left: 4rem;
    top: 20px;
    float: right;
    width: 20%;
    padding: 10px;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    cursor: pointer;
  }
  footer, p{
    color: darkred;
    font-size: medium;
    padding: 200px;
    margin: 100px;
  }
  